*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #eee ;
    font-family: 'Roboto', sans-serif;
    
}
.container{
    max-width: 1200px;
    background-color: #E4F9F5;
    margin: 0 auto;
    padding: 20px;

}
.profile-image{
    width: 100px;
    height: 100px;
    border: 1px solid white;
    border-radius: 50%;
    
    float: left;
    
}
.header-bio{
    float: left;
    padding: 30px;
}
h1,h2,h3,h4,h5,h6{
    color: #11999e;
}
.header-contact{
    float: right;
    padding: 30px;
}
.header-contact a{
    text-decoration: none;
    color: teal;
    font-weight: bold;
}
.header-contact a:hover{
    text-decoration: underline;
    color: tomato;
}
.div-clear{
    clear: both;
}
hr{
    border: solid black 3px;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
}

/* Personal section start */
#personal-section{

}
.content{

}
.left-div{
width: 30%;
float: left;
}
.right-div{
width: 70%;
float: right;
}

.common-hr{
    border: solid black 1px;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;
}
.edu-left{
 float: left;
 width: 45%;
}
.edu-right{
 float: right;
 width: 45%;
}

.footer{
    background-color: black;
   
    text-align: center;
    padding:10px;

    
}
.footer a{
    text-decoration: none;
    color: white;
    
    margin: 20px;
}
.footer p{
    color: white;
    margin-top: 20px;
}